.label {
    width: 100%;
    margin: 0 auto;
    font-size: 18px;
    font-weight: bold;
    color: var(--yellow);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input {
    width: 100%;
    padding: 16px 32px;
    border: var(--lgt-purp-border);
    background-color: var(--container-bg);
    border-radius: 16px;
    outline: none;
    font-size: 16px;
    color: var(--main-text-color);
}

.input:hover {
    box-shadow: 1px 1px 10px var(--main-text-color);
    transition: all 0.2s ease-in-out;
}

@media screen and (max-width: 450px) {
    .input {
        font-size: 14px;
    }

    .label {
        font-size: 16px;
    }
}