.heading {
	margin: 16px;
	color: var(--main-text-color);
}

.button {
	width: 100%;
	padding: 16px 42px;
	margin: 12px 0;
	border: var(--lgt-purp-border);
	background-color: var(--container-bg);
	border-radius: 16px;
	font-size: 18px;
	font-weight: bold;
	color: var(--yellow);
	text-decoration: none;
	text-align: center;
}

.button:hover {
	box-shadow: 1px 1px 10px var(--main-text-color);
	transition: all 0.2s ease-in-out;
}
