.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: all .2s ease-in-out;
}

.isOpen {
    opacity: 1;
    pointer-events: all;
}

.isOpen .content {
    transform: scale(1);
}

.content {
    max-width: fit-content;
    padding: 48px;
    font-weight: bolder;
    color: var(--yellow);
    transform: scale(0.5);
    background-color: var(--body-bg);
    border: var(--lgt-purp-border);
    border-radius: 40px;
    transition: all .4s ease-in-out;
}
